<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Movie Rater - Simple Movie rater Database </title>

  @vite(['resources/css/app.css'])
</head>
<body>
  <main class="bg-[#322e2e]">
    @!component('pages/Register')
 </main>
</body>
</html>
